body,
html {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(245, 245, 245);
    color: #000;
    font-size: large;
}

a {
    color: #000;
}

.buble {
    background-color: white;
    border-radius: 12px;
    padding: 8px;
}

.header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "title title folders"
        "cards cards name";
    min-height: 100px;
    max-height: 100vh;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    margin: 4px;
}

@media (max-width: 700px) {
    .header {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
            "title title"
            "folders name"
            "cards cards";
    }
}

/* .container {
    max-height: 100%;
} */

.folders>a:hover {
    font-style: oblique;
}

.folders {
    grid-area: folders;
    display: flex;
    flex-direction: column;
}

.container>* {
    max-height: 100%;
}

.cards {
    grid-area: cards;
}

.name {
    grid-area: name;
}

.title {
    grid-area: title;
    font-weight: bolder;
    font-size: x-large;
    text-align: center;
}

.card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "link qr qr"
        "logo qr qr";
    justify-items: center;
    align-items: center;
    height: auto;
    max-height: 200px;
    max-width: 700px;
    margin: 15px;
    padding: 12px;
}

.qr {
    grid-area: qr;
}

.link {
    grid-area: link;
    font-size: x-large;
    font-weight: bolder;
    transition: 0.4s;
}

.link:hover {
    transition: 0.6s;
    font-size: xx-large;
}

.logo {
    grid-area: logo;
}

.name_grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "f_name"
        "s_name";
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    background-color: white;
    border-radius: 12px;
    font-weight: bolder;
    padding: 12px;
    font-size: xx-large;
}

.f_name {
    grid-area: f_name;
}

.s_name {
    grid-area: s_name;
}