html,
body {
    position: relative;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(246, 246, 246);
    color: #000;
    font-size: large;
    overflow: auto;
}



&:has(#mode.dark) {
    body {
        background-color: rgb(14, 14, 14);
    }

    .header,
    #list {
        filter: invert(0.8);
    }

    #md img {
        filter: brightness(0.5);
    }
}

#mode {
    background-image: url(../img/moon.png);
    height: 30px;
    width: 30px;
    position: fixed;
    top: 10px;
    left: 10px;
    background-size: contain;
    z-index: 1000;
}

#mode.dark {
    background-image: url(../img/sun.png);
}

#mode:hover {
    transition: 0.3s;
    transform: scale(1.2);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    color: #000;
}

.buble {
    background-color: white;
    border-radius: 12px;
    padding: 8px;
    box-shadow: -9px 7px 15px rgb(227, 227, 227);
}

.bg {
    background-image: url("../img/bg.jpg");
    background-size: 140vh;
    background-repeat: repeat;
    background-attachment: fixed;
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.162);
}

.header {
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.3fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "title title folders"
        "cards cards name";
    /* min-height: 100px; */
    max-height: 100vh;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    margin-left: 4px;
    margin-right: 4px;
    padding: 21px;
    border-radius: 24px;
    margin: 14px;
}

@media (max-width: 700px) {
    .header {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.4fr 0.4fr 1fr;
        grid-template-areas:
            "title title"
            "folders name"
            "cards cards";
    }
}

/* .container {
    max-height: 100%;
} */

.folders>a:hover {
    font-style: oblique;
}

.folders {
    grid-area: folders;
    display: flex;
    flex-direction: column;
}

.container>* {
    max-height: 100%;
}

.cards {
    grid-area: cards;
}

.name {
    grid-area: name;
}

.title {
    grid-area: title;
    font-weight: bolder;
    font-size: x-large;
    text-align: center;
}

.card {
    display: grid;
    grid-template-columns: 1fr 0.1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "link . qr"
        "logo . qr";
    justify-items: center;
    align-items: center;
    height: auto;
    max-height: 200px;
    max-width: 700px;
    margin: 15px;
    padding: 12px;
}

.card > * {
    max-width: 100%;
    max-height: 100%;
}

.qr {
    grid-area: qr;
}

.link {
    grid-area: link;
    font-size: x-large;
    font-weight: bolder;
    transition: 0.4s;
}

.link:hover {
    transition: 0.6s;
    font-size: xx-large;
}

.logo {
    grid-area: logo;
}

.name_grid {
    grid-area: name;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "f_name"
        "s_name";
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    background-color: white;
    border-radius: 12px;
    font-weight: bolder;
    padding: 12px;
    font-size: xx-large;
}

.f_name {
    grid-area: f_name;
}

.s_name {
    grid-area: s_name;
}

.file {
    margin: 4px;
    text-align: center;
    width: fit-content;
    transition: 0.4s;
}

.file:hover {
    transform: scale(1.1);
}

#list {
    grid-area: list;
    top: 100vh;
    /* transform: translateY(-50%); */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    border-radius: 18px;
    margin: 14px;
}

body {
    height: 300vh;
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 100vh 100vh 100vh;
    gap: 0px 0px;
    grid-template-areas: 
      "header"
      "list" 
      "md";
    
    justify-content: center; 
    justify-items: center; 
    align-items: center; 
    overflow: hidden;
}

html {
    scroll-behavior: smooth;
    overflow: hidden;
}

#md {
    width: 98vw;
    height: 98vh;
    border-radius: 3px;
    
}

#md-div {
    height: 100vh;
    width: 100vw;
    /* top: 200vh; */
    grid-area: md;
    overflow: scroll;
}


@keyframes left {
    0% {}

    100% {
        transform: translate(-100vw);
    }
}

@keyframes right {
    0% {}

    100% {
        transform: translate(100vw);
    }
}


.setout:nth-child(even) {
    animation: left 1.8s linear 0s 1 normal forwards;
}

.setout:nth-child(odd) {
    animation: right 1.8s linear 0s 1 normal forwards;
}